[client] 
default-character-set          = utf8mb4
port                           = 3306
socket                         = /tmp/mysql.sock
[mysqld]
lower_case_table_names=1
max_execution_time = 15000
socket                         = /tmp/mysql.sock
sql_mode                       = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
pid-file                       = /mydata/data/mysqld.pid
datadir                        = /mydata/data
#全文索引
ft_min_word_len                = 2
ngram_token_size               = 2
########basic settings########
server-id                      = 1
port                           = 3306
user                           = mysql
character_set_server           = utf8mb4
max_connections                = 800
max_connect_errors             = 500
transaction_isolation          = REPEATABLE-READ
table_open_cache               = 500
table_definition_cache         = 500
performance_schema_max_table_instances = 500
read_buffer_size               = 2M		#内存是每连接独占
read_rnd_buffer_size           = 2M		#内存是每连接独占
sort_buffer_size               = 2M		#内存是每连接独占
join_buffer_size               = 4M 	#内存是每连接独占
max_heap_table_size            = 32M
tmp_table_size                 = 32M
#tmpdir                         = /tmp
max_allowed_packet             = 32M
interactive_timeout            = 600
wait_timeout                   = 28800
query-cache-type                                        = 1
query_cache_size                                        = 32M
query_cache_limit                                       = 2M
back_log = 300
###########主从复制##########
gtid_mode=on
enforce_gtid_consistency=on
######主库#######
#binlog-ignore-db=xx #表示同步的时候ignore的数据库
#binlog-do-db=test  #指定需要同步的数据库
#log_bin                        = /mydata/logs/mysql_bin_logs/bin.log
#binlog_format                                           = row
#max_binlog_size=10M
#binlog_cache_size              = 1M
#log_slave_updates=true
#sync_binlog                    = 1   #为了在最大程序上保证复制的InnoDB事务持久性和一致性
#########从库#########
relay_log                      = /mydata/logs/mysql_relay_logs/relay.log
replicate-do-db=weizan
binlog_checksum = CRC32
slave_allow_batching = 1
master_verify_checksum = 1
slave_sql_verify_checksum = 1
binlog_rows_query_log_events = 1
relay_log_purge = 1
relay_log_recovery = 1
#read_only = on
#super_read_only = on
#sync_relay_log                 = 1
#relay-log-info-repository      =TABLE #启用此两项,可用于实现在崩溃时保证二进制及从服务器安全的功能
#master-info-repository         =TABLE
###########日志##########
expire_logs_days = 15
log_error                      = /mydata/logs/error_logs/error.log
#慢sql
slow_query_log_file            = /mydata/logs/slow_query_logs/slow.log
slow_query_log                 = 1
long_query_time                = 5
#log_queries_not_using_indexes  = 1   #不使用索引
########innodb settings########
#这个参数在一开始初始化时就要加入my.cnf里，如果已经创建了表，再修改，启动MySQL会报错。最好为8K
innodb_page_size               = 16K
#数据缓冲区buffer pool大小，建议使用物理内存的 75%
innodb_buffer_pool_size        = 1G
innodb_buffer_pool_instances   = 8
#运行时load缓冲池，快速预热缓冲池，将buffer pool的内容（文件页的索引）dump到文件中，然后快速load到buffer pool中。避免了数据库的预热过程，提高了应用访问的性能
innodb_buffer_pool_load_at_startup = 1
#运行时dump缓冲池
innodb_buffer_pool_dump_at_shutdown = 1
#在innodb中处理用户查询后，其结果在内存空间的缓冲池已经发生变化，但是还未记录到磁盘。这种页面称为脏页，将脏页记录到磁盘的过程称为刷脏
innodb_lru_scan_depth          = 1024
innodb_io_capacity             = 200
innodb_io_capacity_max         = 2000
#事务等待获取资源等待的最长时间，超过这个时间还未分配到资源则会返回应用失败，默认50s
innodb_lock_wait_timeout       = 30
#这个参数控制着innodb数据文件及redo log的打开、刷写模式
innodb_file_format             = Barracuda
innodb_file_format_max         = Barracuda
innodb_strict_mode             = 1
innodb_file_per_table          = 1
innodb_undo_logs               = 128
innodb_log_file_size           = 256M
innodb_log_buffer_size         = 64M
#控制是否使用独立purge线程
innodb_purge_threads           = 1
#改为ON时，允许单列索引最大达到3072。否则最大为767
innodb_large_prefix            = 1
innodb_thread_concurrency      = 8
#开启后会将所有的死锁记录到error_log中
innodb_print_all_deadlocks     = 1
innodb_sort_buffer_size        = 16M 
########semi sync replication settings########
#表示转储每个bp instance LRU上最热的page的百分比。通过设置该参数可以减少转储的page数。
innodb_buffer_pool_dump_pct    = 40
#刷脏的进程N-1
innodb_page_cleaners           = 4
innodb_undo_log_truncate       = 1
innodb_max_undo_log_size       = 2G
#控制回收(收缩)undo log的频率.undo log空间在它的回滚段没有得到释放之前不会收缩，
innodb_purge_rseg_truncate_frequency = 128
log_timestamps                 = system
show_compatibility_56          = on
[mysqldump]
socket                         = /tmp/mysql.sock
